@{
    if(IsPost)
    {
        PrimalRuns.AddRun();
    }
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>My Site's Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <form method="post" action="AddRun">
            <input type="text" id="name" name="name" />
            <input type="text" id="primal" name="primal" />
            <input type="submit" value="submit" />
        </form>
    </body>
</html>
