@{
    var runs = PrimalRuns.GetRuns();    
}

<table class="primal-runs">
    <tr>
        <th>
            Name
        </th>
        <th>
            Requested Primals
        </th>
    </tr>
    @foreach(var run in runs) {
        <tr>
            <td class="name">@run.Name</td>
            <td class="primal">@run.Primal</td>            
        </tr>
    }
</table>
